/** Portfolio **/
@import url("https://fonts.googleapis.com/css?family=Amiko:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Rock+Salt&display=swap");
/*maps*/
/* mixins */
/* DOM element styles */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Amiko", sans-serif;
  color: #757575;
  background-color: #fefaf1;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #757575;
}
a:hover {
  color: tomato;
}

p {
  font-size: 0.95rem;
  word-break: break-word;
  hyphens: auto;
  line-height: 1.4rem;
  margin-top: 0;
}
.last {
  text-align: center;
  font-size: 1.2rem;
  color: tomato;
}
/*****
 ***** MODAL ****
                 ****/





/*****
 ***** NAVIGATION****
                 ****/
header {
  margin-top: 2rem;
}

.navigation {
  width: 100vw;
  display: grid;
  text-align: center;
  margin: 1rem;
  color: #555;
  padding: 1.5rem;
}
@media (min-width: 769px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
  }
}

.tiltStart {
  transform: rotate(-21deg);
  transition: transform 1s ease-in-out;
}

.tilt {
  transform: rotate(21deg);
  transition: transform 1s ease-in-out;
  color: tomato;
}

.navigation span {
  margin-bottom: 2rem;
  font-size: 2rem;
}
@media (min-width: 769px) {
  .navigation span {
    margin-bottom: 0;
  }
}

nav {
  display: flex;
  position: relative;
  width: 95%;
  max-width: 2680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  justify-content: space-around;
}
@media (min-width: 769px) {
  nav {
    /* display: flex; */
    justify-content: flex-end;
    text-align: center;
    width: 60%;
  }
}

nav a:nth-child(3n) {
  margin-right: 0;
}

.dropdown {
  overflow: hidden;
  padding: 2rem;
}

nav a {
  color: #555;
  margin-right: 1.5rem;
  padding: 2%;
  height: fit-content;
}
@media (min-width: 769px) {
  nav a {
    margin-right: 0.5rem;
  }
}

nav a:hover {
  background-color: #ccc;
  color: white;
  border-radius: 5%;
  transition: all 0.2s ease-in;
}

.work-menu {
  display: flex;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  height: fit-content;
  position: absolute;
  z-index: 100;
  transform: translateY(-300px);
  width: inherit;
  transition: all 1000ms ease-in-out 300ms;
}

.work-menu.active {
  transform: translateY(65px);
  transition: all 1s ease;
  height: fit-content;
  width: inherit;
}
.closeBtn {
  color: tomato;
}
@media(max-width: 768px) {
  .closeBtn {
    position: absolute;
    color: tomato;
    right: 4px;
    top: 3px;
  }
}
button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  /* font: inherit; */
  cursor: pointer;
  outline: inherit;
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 769px) {
  .work-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    height: fit-content;
    position: absolute;
    z-index: 100;
    transform: translateY(-350px);
    transition: all 1000ms ease-in-out 300ms;
    width: inherit;
  }
  .work-menu.active {
    transform: translateY(65px);
    /* right: 20%; */
    transition: all 1s ease;
    flex-direction: column;
    /* width: min-content; */
    height: fit-content;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
}

.work-menu a {
  padding-bottom: 0.5rem;
}

a.example {
  display: block;
  width: 100%;
  padding: 2%;
  opacity: 1;
  font-size: 0.9rem;
}

a.example.active {
  opacity: 1;
  transition: opacity 900ms ease-in;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
}

a.example.active:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: tomato;
}

.hide {
  display: none;
}

.drop {
  position: relative;
  color: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover, .dropbtn:focus,
.drop:hover {
  background-color: tomato;
}
.reveal {
  position: fixed;
  right: 90px;
  bottom: 90px;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.show {
  transform: translateY(0px);
  opacity: 1;

}
.up {
  /* visibility: hidden; */
  /* grid-column: 1/2; */
  z-index: 100;
  position: fixed;
  right: 90px;
  bottom: 140px;
}

/* @media (min-width: 769px) {
  .up {
    grid-column: 1/3;
  }
} */
/* @media (min-width: 1024px) {
  .up {
    grid-column: 1/4;
  }
} */
@media (max-width: 769) {
  .parallax-window {
    opacity: .1;
  }
}
.workParallax {
  min-height: 100px;
}
.parallax-window {
  min-height: 200px;
  background: transparent;
  opacity: 0.2;
}
.placeholder {
  opacity: 0.3;
}
/*****
***** SKILLS     ****
                ****/
.skills {
  position: relative;
  display: flex;
  padding: 1.5rem;
  border: 1px solid #ccc;
  margin: 0.5rem;
  background-color: white;
}

/*****
***** CARDS     ****
                ****/
main {
  width: 99%;
  max-width: 2680px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#about {
  display: flex;
  background: url(../imgs/LinvilleBw_sm.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contactAbout {
  width: 100%;
  background-color: white;
  padding: 2.5rem;
  border: 1px solid #ccc;
  margin: 1.5rem;
}

.cards-container {
  width: 100%;
  grid-template-columns: auto;
  gap: 2%;
  margin-top: .5%;
}

.card {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  position: relative;
  background-color: white;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin: 0.5rem; */
}
@media (min-width: 768px) {
  .card {
    margin-left: 0vw;
    margin-right: auto;
    width: 100%;
    position: relative;
    background-color: white;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* .graphicD .card {
    width: 45%;
  } */
  .cards-container {
    width: 100%;
    max-width: 2680px;

    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    /* grid-template-columns: auto; */
    gap: 1%;
  }
}

.connect {
  border: 1px solid #fefaf1;
  margin: 0;
}

.myName {
  color: #656565;
  transition: 0.5s ease-in;
  width: max-content;
  margin: 0 auto 10%;
  text-align: center;
  padding: 3%;
}

.myName p {
  margin: 0;
}

.name {
  font-family: "Rock Salt", cursive;
  font-size: 1.6rem;
}

.highlight {
  color: #656565;
  border: 2px solid tomato;
  transition: .8s ease-in;
}

.highlightName {
  background-color: aliceblue;
  border: 2px solid tomato;
  transition: 0.5s ease-in;
  
}

svg {
  margin: 0.7rem;
}
.tilt {
  transform: rotate(-21deg);
 
}

.tiltHeadline {
  /* position: absolute;
  top: 3%;
  left: 1%; */
  font-size: 2rem;
  line-height: 6.75vw;
  transition: 1s ease-in-out;
  margin-bottom: 0;
}
@media (min-width: 769px) {
  .tiltHeadline {
    /* font-size: 3vw; */
    line-height: 2.75vw;
  }
}
/* @media (min-width: 1024px) {
  .tiltHeadline {
    font-size: 2vw;
    line-height: 2vw;
    /* top: 3%;
    left: 3%; */
  }
} */



@media (min-width: 1024px) {
  .space {
    height: 25vh;
    content: "";
  }
}

.gitH path,
.html path,
#jS path,
#bootstrap path,
#css path,
#sass path,
#gh path,
.linkedIn path {
  fill: #777;
  transition: fill 0.4s ease-out;
}

.gitH path:hover,
.linkedIn path:hover {
  fill: tomato;
}

.contact a {
  margin-right: 2%;
}

.find {
  text-align: right;
}

@media (min-width: 769px) {
  .text-about {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.sectionHeader {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: tomato;
  text-align: center;
  background: aliceblue;
  padding: 2%;
  margin-bottom: 0;
  margin-top: 0;
  /* letter-spacing: 0.1rem; */
}
.workHeader {
  background: tomato;
  color: aliceblue;
  font-size: 3rem;
  text-transform: uppercase;
  /* font-size: 4em; */
  text-align: center;
  padding: 2%;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 0.3rem;
}

.portHeader {
  visibility: hidden;
}

@keyframes slideOver {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.slideOver {
  animation-name: slideOver;
  animation-duration: 1.8s;
  visibility: visible;
}

/*****
 ***** POLYGONS ****
                 ****/
#profilePic {
  position: relative;
  /* shape-outside: polygon(50% 7%, 90% 25%, 90% 75%, 50% 93%, 10% 75%, 10% 25%); */
  /* float: right; */
  
  /* clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%); */
  background: no-repeat bottom url(../imgs/KQB-CROP.jpg);
  background-size: 64.5vw;
}
@media (min-width: 769px) {
  #profilePic {
    width: 35vw;
    height: 35vw;
    float: right;
    /* margin-right: -10%; */
    background-size: 45vw;
    background-position: 25% -45%;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  #profilePic {
    width: 25vw;
    height: 25vw;
    float: right;
    /* margin-right: -10%; */
    background-position: 25% -25%;
    background-size: 35vw;
    margin-left: 1vw;
  }
}

.polyg-border {
  flex: 0 0 120px;
/* position: relative; */
  /* shape-outside: polygon(50% 7%, 90% 25%, 90% 75%, 50% 93%, 10% 75%, 10% 25%); */
  width: 70vw;
  height: 70vw;
  /* float: left;
  margin-top: 2vw; */
  -webkit-clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
  clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
  background-color: #ccc;
}
@media (min-width: 769px) {
  .polyg-border {
    width: 30vw;
    height: 30vw;
    /* float: left; */
  }
}
/* @media (min-width: 1024px) {
  .polyg-border {
    width: 18vw;
    height: 18vw;
    margin-left: 0;
  }
} */

.rotate-it {
  transform: rotate(-360deg);
  transition: transform 1.1s ease-in-out;
}

.repoLink {
  text-decoration: none;
  position: absolute;
  top: 40%;
  left: 15%;
  visibility: hidden;
}

.showLink {
  visibility: visible;
}
.hexag {
  height: 100%;
  width: 100%;
  clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
}

img {
  position: absolute;
  top: 3px;
  left: 3px;
  object-fit: cover;
  shape-outside: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
  float: left;
  opacity: 0.65;
  margin-right: 3vw;
  transition: opacity 1s ease-out;
}

img:hover {
  opacity: 1;
}

.hexag-border {
  position: absolute;
  left: -30vw;
  top: -5vh;
  height: 50vw;
  width: 50vw;
  background-color: rgba(205, 205, 205, 0.6);
  clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
}

i {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

i a {
  text-decoration: none;
}

#sourceMappingURL=styles.css.map
