/** Portfolio **/

@import url('https://fonts.googleapis.com/css?family=Amiko:400,600&display=swap');

$amiko: 'Amiko', sans-serif;

$max-width: 2680px;
$media-break-tab: 769px;
$media-break-desk: 1024px;

/*maps*/
$breakpoints: (
  'sm': 320px,
 'med': 768px,
  'lg': 992px,
  'xl': 2680px
  );
  /* mixins */
  @mixin flex-it (
    $disp: flex,
    $align: null,
    $dir: null,
    $wrap: null,
    $just: null,
    $basis: null,
    $flex: null) {
      display: $disp ;
      flex-direction: $dir;
      flex-wrap: $wrap;
      justify-content: $just;
      flex-basis: $basis;
      flex-grow: $flex;
      align-items: $align;
      // margin: 5px;
      text-align: center;
      @content;
  }

  @mixin center($w) {
    width: $w;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

  @mixin media($size) {
        @media (min-width: $media-break) {
            @content;
          }
    }

/* DOM element styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: $amiko;
  color: #656565;
  // color: white;
  background-color: #fefaf1;
  // background-color: #8cc5bb;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  font-size: .95rem;
}



/*****
 ***** NAVIGATION****
                 ****/
 header {
   margin-top: 2rem;
   // background-color: #fdfff8;
   // border-bottom: 1rem solid #fdfff8;
 }
 .navigation {
   @media(min-width: $media-break-tab) {
      @include flex-it($just: space-between);

   }
   display: grid;
    text-align: center;
   margin: 1rem;
   // background-color: black;
   color: #555;
   padding: 1.5rem;
 }
 .navigation span {
   margin-bottom: 2rem;
   transform: rotate(21deg);
   font-size: 2rem;
 }
 // body::before {
 //     content: "";
 //     display: block;
 //     height: 102vh;
 //     width: 78vw;
 //     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
 //     background-color: tomato;
 //     opacity: .8;
 //     position: absolute;
 //     top: -50%;
 //     left: -37%;
 //   }
   // header::after {
   //     content: "";
   //     display: block;
   //     height: 72vh;
   //     width: 48vw;
   //     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
   //     background-color: aliceblue;
   //     position: absolute;
   //     top: -40%;
   //     right: -15%;
   //   }
   // header::after:hover {
   //     content: "";
   //     display: block;
   //     height: 72vh;
   //     width: 48vw;
   //     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
   //     background-color: tomato;
   //     position: absolute;
   //     top: -40%;
   //     right: -15%;
   //   }
 nav {
   @include center(86%);
   margin-top:1.5rem;
   position: relative;
   max-width: 2680px;
   margin-bottom: 1.5rem;
   position: relative;
   border-bottom: 1px solid #ccc;
   padding-bottom: 0.5rem;
   @media(min-width: $media-break-tab) {
      @include flex-it;
   }
 }
 nav a:nth-child(3n){
   margin-right:0;
 }
.dropdown {
  overflow: hidden;
  padding: 2rem;
}
 nav a {
   color: #555;
   margin-right: 1.5rem;
   padding: 2%;
   height: fit-content;
   // transform: rotate(15deg);
      // border: 1rem solid transparent;
   // border-top: 1rem solid transparent;
 }
 // nav > a:hover {
 //    // transform: rotate(0);
 //    //    border-top: 1rem solid black;
 //    background-color: #444;
 //    color: white;
 //    border-radius: 25px;
 //    transition: all .2s ease-in;
 //  }
nav a:hover {
   // transform: rotate(0);
   //    border-top: 1rem solid black;
   background-color: #ccc;
   color: white;
   border-radius: 5%;
   transition: all .2s ease-in;
 }

 .work-examples {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    z-index: 100;
    bottom: 750%;
    left: 68%;
    transition: all 1000ms ease-in-out 300ms;
 }
 .work-examples.active {
  bottom: -1300%;
  // top: 120%;
  // background: black;
   // transform: translate(0,10vh);
 }
 .work-examples a {
   padding-bottom: .5rem;
 }
 a.example  {
   display: block;
   width: 100%;
   padding: 2%;
   // transform: rotate(-15deg);
   opacity: 1;
 }
 a.example.active {
   opacity: 1;
   transition: opacity 900ms ease-in;
   background: rgba(255, 255, 255, .8);
   padding: .5rem;
 }
 a.example.active:hover {
   background-color: rgba(255, 255, 255, .6);
   color: tomato;
 }

 .hide {
   display: none;
   // position: absolute;
 }
 .drop {
   color: inherit;
   // background-color: inherit;
   font-size: inherit;
   // border: 1rem solid transparent;
   outline: none;
   cursor: pointer;
   // padding: 2rem;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 .drop-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  background: blue;
  max-width: 160px;
  text-align: left;
 }


.dropdown:hover, .dropbtn:focus,
.drop:hover,
 {
  // background-color: red;
}

/*****
***** CARDS     ****
                ****/

main {
  @include center(94%);
}
.cards-container {

  background: transparent;
  @media(min-width: $media-break-tab) {
    display: grid;
grid-template-columns: repeat(3, 1fr);
/* width: 70vw; */
background: transparent;
  }
}

.card {
display: flex;
  // width: 80vw;
  // height: auto;
  margin-left: 0vw;
  margin-right: auto;
  max-width: 50rem;
  // @media(min-width: $media-break-tab) {
  //   width: 65vw;
  // }
}
// .card:nth-of-type(2n) {
//   display: flex;
//   @media(min-width: $media-break-tab) {
//     width: 80vw;
//     margin-left: 17vw;
//     margin-right: auto;
//   }
// }
// .card:nth-of-type(3n) {
//   display: flex;
//   @media(min-width: $media-break-tab) {
//     width: 80vw;
//     margin-left: 34vw;
//     margin-right: auto;
//   }
// }
.container {
  position: relative;
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #ccc;
  margin: .5rem;
  width: 100%;
}
svg {
  margin: .7rem;
}

h1 {
  transform: rotate(-21deg);
  position: absolute;
  top: 3%;
  left: 1%;
  font-size: 4vw;
  line-height: 3.75vw;
  border-bottom: 1px solid #333;
}
.connect {
  transform: rotate(21deg);
position: absolute;
top: 80%;
left: 5%;
}
.gitH path,
.linkedIn path {
  fill: #777;
  transition: fill .7s ease-out;
}
.gitH path:hover,
.linkedIn path:hover {
  fill: tomato;
}
.contact a {
  margin-right: 2%;
}
.text-insert a {
  color: #333;
}
.text-insert a:hover {
  color: tomato;
}

.contact{
  @include flex-it($just: center);
}

/*****
 ***** POLYGONS ****
                 ****/

 #profilePic {
   position: relative;
   shape-outside: polygon(50% 7%, 90% 25%, 90% 75%, 50% 93%, 10% 75%, 10% 25%);
   width: 54.5vw;
   height: 54.5vw;
   float: left;
   margin-left: -10%;
   clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
   // background-color: #ccc;
   background: url(../imgs/KQBportrait.jpg);
   background-size: 64.5vw;
 }
.polyg-border {
  position: relative;
  shape-outside: polygon(50% 7%, 90% 25%, 90% 75%, 50% 93%, 10% 75%, 10% 25%);
  width: 44.5vw;
  height: 44.5vw;
  float: left;
  // margin-left: -10%;
  clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
  background-color: #ccc;
}
.rotate-it {
  transform: rotate(12deg);
  transition: transform 1s ease-in;
}

.hexag {
  height: 100%;
  width: 100%;
  // background-color: rgba(150, 255, 150, .4);
  clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
}

img {
  position: absolute;
  top: 3px;
  left: 3px;
  object-fit: cover;
  shape-outside: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
  float: left;
  opacity: .65;
  margin-right: 3vw;
  transition: opacity 1s ease-out;
}

img:hover {
  opacity: 1;
}

.hexag-border {
    position: absolute;
    left: -30vw;
    top: -5vh;
    height: 50vw;
    width: 50vw;
    background-color: rgba(205, 205, 205, 0.6);
    clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
}
//
// .hexag-border:nth-of-type(2n) {
//     position: absolute;
//     left: -10vw;
//     top: 45vh;
//     height: 50vw;
//     width: 50vw;
//     background-color: rgba(255, 255, 50, 0.6);
//     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
//     z-index: 100;
// }
// .hexag-border:nth-of-type(3n) {
//     position: absolute;
//     left: -30vw;
//     top: 95vh;
//     height: 50vw;
//     width: 50vw;
//     background-color: rgba(205, 205, 205, 0.6);
//     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
//     z-index: 100;
// }
// .hexag-border:nth-of-type(4n) {
//     position: absolute;
//     left: -10vw;
//     top: 145vh;
//     height: 50vw;
//     width: 50vw;
//     background-color: rgba(255, 255, 50, 0.6);
//     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
//     z-index: 100;
// }

i {
  margin-left: auto;
margin-right: auto;
margin-top: 2%;
width: 100%;
text-align: center;
font-size: 2em;
}
i a {
  text-decoration: none;
}

.clip-shape-transition {
  background-color: #639;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.clip-shape-transition:hover {
  clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
  transform: rotate(90deg);
  transition: all 0.2s ease-in;
}
