/** Portfolio **/

@import url('https://fonts.googleapis.com/css?family=Amiko:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Rock+Salt&display=swap');

$amiko: 'Amiko', sans-serif;

$max-width: 2680px;
$media-break-tab: 769px;
$media-break-desk: 1024px;

$bckgrnd: #fefaf1;
$highlight: tomato;
$alice: aliceblue;

/*maps*/
$breakpoints: (
  'sm': 320px,
 'med': 768px,
  'lg': 992px,
  'xl': 2680px
  );
  /* mixins */
  @mixin flex-it (
    $disp: flex,
    $align: null,
    $dir: null,
    $wrap: null,
    $just: null,
    $basis: null,
    $flex: null) {
      display: $disp ;
      flex-direction: $dir;
      flex-wrap: $wrap;
      justify-content: $just;
      flex-basis: $basis;
      flex-grow: $flex;
      align-items: $align;
      // margin: 5px;
      text-align: center;
      @content;
  }

  @mixin center($w) {
    width: $w;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

  @mixin media($size) {
        @media (min-width: $media-break) {
            @content;
          }
    }

/* DOM element styles */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $amiko;
  color: #656565;
  // color: white;
  background-color: $bckgrnd;
  // background-color: #8cc5bb;
  margin: 0;
overflow-x: hidden;
}
a {
  text-decoration: none;
  color: tomato;
}
p {
  font-size: .95rem;
   word-break: break-word;
   hyphens: auto;
}

/*****
 ***** MODAL ****
                 ****/

// #myImg {
//   border-radius: 5px;
//   cursor: pointer;
//   transition: 0.3s;
// }
//
// #myImg:hover {opacity: 0.7;}
//
// /* The Modal (background) */
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   // padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 60%; /* Full width */
//   height: 60%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
// }
//
// /* Modal Content (image) */
// .modal-content {
//   margin: auto;
//   display: block;
//   width: 50%;
//   max-width: 700px;
// }
//
// /* Caption of Modal Image */
// // #caption {
// //   margin: auto;
// //   display: block;
// //   width: 80%;
// //   max-width: 700px;
// //   text-align: center;
// //   color: #ccc;
// //   padding: 10px 0;
// //   height: 150px;
// // }
//
// /* Add Animation */
// .modal-content, #caption {
//   -webkit-animation-name: zoom;
//   -webkit-animation-duration: 0.6s;
//   animation-name: zoom;
//   animation-duration: 0.6s;
// }
//
// @-webkit-keyframes zoom {
//   from {-webkit-transform:scale(0)}
//   to {-webkit-transform:scale(1)}
// }
//
// @keyframes zoom {
//   from {transform:scale(0)}
//   to {transform:scale(1)}
// }
//
// /* The Close Button */
// .close {
//   position: absolute;
//   top: 15px;
//   right: 35px;
//   color: #f1f1f1;
//   font-size: 40px;
//   font-weight: bold;
//   transition: 0.3s;
// }
//
// .close:hover,
// .close:focus {
//   color: #bbb;
//   text-decoration: none;
//   cursor: pointer;
// }
//
// /* 100% Image Width on Smaller Screens */
// @media only screen and (max-width: 700px){
//   .modal-content {
//     width: 100%;
//   }
// }

/*****
 ***** NAVIGATION****
                 ****/
 header {
   margin-top: 2rem;
   // background-color: #fdfff8;
   // border-bottom: 1rem solid #fdfff8;
 }
 .navigation {
   @media(min-width: $media-break-tab) {
      @include flex-it($just: space-between);
      position: relative;
   }
   display: grid;
   text-align: center;
   margin: 1rem;
   color: #555;
   padding: 1.5rem;
 }
 .tiltStart {
   transform: rotate(-21deg);
   transition: transform 1s ease-in-out;
 }
 .tilt {
   transform: rotate(21deg);
   transition: transform 1s ease-in-out;
 }
 .navigation span {
   margin-bottom: 2rem;
   // transform: rotate(21deg);
   font-size: 2rem;
   @media(min-width: $media-break-tab) {
     margin-bottom: 0;
   }
 }

 // body::before {
 //     content: "";
 //     display: block;
 //     height: 102vh;
 //     width: 78vw;
 //     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
 //     background-color: tomato;
 //     opacity: .8;
 //     position: absolute;
 //     top: -50%;
 //     left: -37%;
 //   }
   // header::after {
   //     content: "";
   //     display: block;
   //     height: 72vh;
   //     width: 48vw;
   //     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
   //     background-color: aliceblue;
   //     position: absolute;
   //     top: -40%;
   //     right: -15%;
   //   }
   // header::after:hover {
   //     content: "";
   //     display: block;
   //     height: 72vh;
   //     width: 48vw;
   //     clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
   //     background-color: tomato;
   //     position: absolute;
   //     top: -40%;
   //     right: -15%;
   //   }
 nav {
   @include center(86%);
   margin-top:1.5rem;
   // position: relative;
   max-width: 2680px;
   margin-bottom: 1.5rem;
   border-bottom: 1px solid #ccc;
   padding-bottom: 0.5rem;
   @media(min-width: $media-break-tab) {
      @include flex-it($just: flex-end);
      width: 60%;
   }
 }
 nav a:nth-child(3n){
   margin-right:0;
 }
.dropdown {
  overflow: hidden;
  padding: 2rem;
}
 nav a {
   color: #555;
   margin-right: 1.5rem;
   padding: 2%;
   height: fit-content;
   @media(min-width: $media-break-tab) {
     margin-right: .5rem;
   }
 }

nav a:hover {
   // transform: rotate(0);
   //    border-top: 1rem solid black;
   background-color: #ccc;
   color: white;
   border-radius: 5%;
   transition: all .2s ease-in;
 }

 .work-examples {
    @include flex-it($dir: column);
    background-color: rgba(255, 255, 255, .8);
    text-align: left;
     height: fit-content;
    position: absolute;
    z-index: 100;
    top: -195%;
    left: 68%;
    transition: all 1000ms ease-in-out 300ms;
    @media(min-width: $media-break-desk) {
       @include flex-it($dir: row);
       top: 0%;
       left: 130%;
       height: fit-content;
    }
 }
 .work-examples.active {
  top: 23%;
  @media(min-width: $media-break-tab) {
     top: 90%;
     right: 0;
     height: fit-content;
  }
  @media(min-width: $media-break-desk) {
     // bottom: -50%;
     top: 70%;
     left: 0;
     height: fit-content;
  }
 }
 .work-examples a {
   padding-bottom: .5rem;

 }
 a.example  {
   display: block;
   width: 100%;
   padding: 2%;
   // transform: rotate(-15deg);
   opacity: 1;
   font-size: .9rem;
 }
 a.example.active {
   opacity: 1;
   transition: opacity 900ms ease-in;
   background: rgba(255, 255, 255, .8);
   padding: .5rem;
 }
 a.example.active:hover {
   background-color: rgba(255, 255, 255, .6);
   color: $highlight;
 }

 .hide {
   display: none;
   // position: absolute;
 }
 .drop {
   color: inherit;
   font-size: inherit;
   outline: none;
   cursor: pointer;
   // padding: 2rem;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 .drop-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  background: blue;
  max-width: 160px;
  text-align: left;
 }


.dropdown:hover, .dropbtn:focus,
.drop:hover,
 {
  background-color: $highlight;
}
.up {
  grid-column: 1/2;
  @media(min-width: $media-break-tab) {
       grid-column: 1/3;
  }
  @media(min-width: $media-break-desk) {
       grid-column: 1/4;
  }
}
/*****
***** SKILLS     ****
                ****/
.skills {
  // @include center(99%);
  position: relative;
  display: flex;
  padding: 1.5rem;
  border: 1px solid #ccc;
  margin: .5rem;
  background-color: white;
}

/*****
***** CARDS     ****
                ****/

main {
  @include center(99%);
  // margin-top: 10%;
}
.clearfix{
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#about {
  display: flex;
  background: url(../imgs/LinvilleBw.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contactAbout {
  width: 100%;
  background-color: white;
  padding: 4.5rem;
  border: 1px solid #ccc;
  margin: 2.5rem;
  // width: 100%;
  @media(min-width: $media-break-tab) {
    // width: 45vw;
  }
}

.cards-container {
  // background: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
}

.card {
  display: flex;
  // width: 80vw;
  // height: auto;
  margin-left: 0vw;
  margin-right: auto;
  max-width: 50rem;
}
.container {
  position: relative;
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #ccc;
  margin: .5rem;
  // width: 100%;
  // @media(min-width: $media-break-tab) {
  //   // width: 45vw;
  // }
}
.connect {
  border: 1px solid $bckgrnd;
  margin: 0;
}
.myName {
  text-align: center;
  padding: 1.5vw;
}
.myName p {
  margin: 0;
}
.name {
  font-family: 'Rock Salt', cursive;
  font-size: 1.6rem;
}
.highlight {
  color: #656565;
  border: 1px solid $highlight;
  transition: 1s ease-in;
}
.highlightName {
  color: #656565;
  background-color: $alice;
  border: 2px solid $highlight;
  transition: .7s ease-in;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

svg {
  margin: .7rem;
}

.tiltHeadline {
  transform: rotate(-21deg);
  position: absolute;
  top: 3%;
  left: 1%;
  font-size: 4vw;
  line-height: 3.75vw;
  @media(min-width: $media-break-tab) {
    font-size: 3vw;
    line-height: 2.75vw;
  }
  @media(min-width: $media-break-desk) {
    font-size: 2.2vw;
    line-height: 2vw;
    top: 3%;
    left: 3%;
  }
}
h2 {
  text-align: right;
}
.space {
  @media(min-width: $media-break-desk) {
    height:25vh;
    content: '';
  }
}

.gitH path,
.html path,
#jS path,
#bootstrap path,
#css path,
#sass path,
.linkedIn path {
  fill: #777;
  transition: fill .4s ease-out;
}
.gitH path:hover,
.linkedIn path:hover {
  fill: tomato;
}
.contact a {
  margin-right: 2%;
}
.find {
  text-align: right;
}
.text-insert a {
  color: #333;
}
.text-insert a:hover {
  color: tomato;
}
.contact{
  @include flex-it($just: flex-end);
}
.pHeadline {
  text-transform: uppercase;
  font-size: 4em;
  color: $highlight;
  text-align: center;
  background: $alice;
  padding: 2%;
  margin-bottom: 0;
  letter-spacing: -0.3rem;

}
.portHeader {
  // transform: translateX(100%);
  visibility: hidden;
}
@keyframes slideOver {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slideOver {
  animation-name: slideOver;
  animation-duration: .9s;
  visibility: visible;
}

/*****
 ***** POLYGONS ****
                 ****/

 #profilePic {
   position: relative;
   shape-outside: polygon(50% 7%, 90% 25%, 90% 75%, 50% 93%, 10% 75%, 10% 25%);
   width: 44.5vw;
   height: 44.5vw;
   float: right;
   margin-right: -10%;
   clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
   // background-color: #ccc;
   background: url(../imgs/KQBportrait.jpg);
   background-size: 54.5vw;
   @media(min-width: $media-break-tab) {
     width: 35vw;
     height: 35vw;
     background-size: 45vw;
     margin-right: 0;
   }
   @media(min-width: $media-break-desk) {
     width: 25vw;
     height: 25vw;
     background-size: 35vw;
     margin-left: 1vw;
   }
 }
.polyg-border {
  position: relative;
  shape-outside: polygon(50% 7%, 90% 25%, 90% 75%, 50% 93%, 10% 75%, 10% 25%);
  width: 44.5vw;
  height: 44.5vw;
  float: left;
  margin-left: -2vw;
  // margin-left: -10%;
  -webkit-clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
  clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
  background-color: #ccc;
  @media(min-width: $media-break-tab) {
    width: 35vw;
    height: 35vw;
  }
  @media(min-width: $media-break-desk) {
    width: 25vw;
    height: 25vw;
  }
}
.rotate-it {
  transform: rotate(-360deg);
  transition: transform 1.1s ease-in-out;
}

.hexag {
  height: 100%;
  width: 100%;
  clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
}

img {
  position: absolute;
  top: 3px;
  left: 3px;
  object-fit: cover;
  shape-outside: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
  float: left;
  opacity: .65;
  margin-right: 3vw;
  transition: opacity 1s ease-out;
}
img:hover {
  opacity: 1;
}
.hexag-border {
    position: absolute;
    left: -30vw;
    top: -5vh;
    height: 50vw;
    width: 50vw;
    background-color: rgba(205, 205, 205, 0.6);
    clip-path: polygon(50% 12%, 85% 25%, 85% 75%, 50% 88%, 15% 75%, 15% 25%);
}
i {
  margin-left: auto;
margin-right: auto;
margin-top: 2%;
width: 100%;
text-align: center;
font-size: 2em;
}
i a {
  text-decoration: none;
}
